<%- include('partials/header') %>

<div class="sidenav">
    <a href="#">Dashboard</a>
    <a href="/adddoctors">Add Doctors</a>
    <a href="/viewdoctors">View Doctors</a>
    <a href="/logout">Log Out</a>
  </div>
  <div class="box" id="heading">
    <h1>Doctors</h1>
  </div>
  
  <div class="box">

          
          
          <form  class="doctor" action="/adddoctors" method="POST">
            <table>
              <tr>
                <td><p>Full Name:</p>
                  <input type="text" name="username" placeholder="Full Name" autocomplete="off" required><br></td>
                
              </tr>
              <tr>
                <td><p>Specility:</p>
                  <input type="text" name="specility" placeholder="Specility" autocomplete="off" required></td>
                
              </tr>
              <tr>
                <td><p>Degree:</p>
                  <input type="text" name="degree" placeholder="Degree" autocomplete="off" required></td>
                
              </tr>
              <tr>
                <td><p>Email:</p>
                  <input type="email" name="email" placeholder="Email" autocomplete="off" required></td>
                
              </tr>
              <tr>
                <td><p>Mobile:</p>
                  <input type="text" name="mobile" placeholder="Mobile" autocomplete="off" required></td>
                
              </tr>
              
              <tr>
                <td><button type="submit">Add Doctors</button></td>
                
              </tr>
              <tr>
                
                
              </tr>
            </table>
            
         </form>
        </div>
      

   


<%- include('partials/header') %>