<%- include('partials/header') %>

<div class="sidenav">
  <a href="#">Dashboard</a>
  <a href="/adddoctors">Add Doctors</a>
  <a href="/viewdoctors">View Doctors</a>
  <a href="/logout">Log Out</a>
</div>
  


<%- include('partials/footer') %>
